#part1 {
    display: flex;
}

.moi{
    margin: 3% 20%;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    
}

.st {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    margin: 1% 40%

}
.im {
    width: 800px;
    margin: 5% 15%;
}
.card-text {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.card-title {
    font-style: italic;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    margin: 2% 36%;
}

.title {
    margin: 1% 4%;
}

.moim {
    margin-left: 2%;
}

.place {
    margin: 1% 9%
}
.contact {
    margin: 1% 5%;
    font-style: italic;
    font-size: 1rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}